*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
 .section-intro-part{
    background-color: #282A35;
 }
 .section-div-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 480px;
    margin: auto;
    width: 85%;
    max-width: 500px;
 }
 .section-div-part h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
 }
 .section-div-part p{
    color: #ffc0c7;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
 }
 .intro-search-bar{
    background-color: white;
    width: 350px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .intro-search-bar i{
    background-color: #04aa6d;
    height: 45px;
    width: 85px;   
    border-radius: 0 50px 50px 0;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: white; 
 }
 .intro-search-bar input{
    height: 100%;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    border: none;
    outline: none;
    padding: 0px 20px; 
    font-size: 15px;
    font-weight: 400;
 }
 .section-div-part a{
    display: block;
    color: white;
    font-size: 23px;
    font-weight: 550;
    margin: 30px 0px;
    text-align: center;
 }
 .section-intro-part a:hover{
    color: #04aa6d;
 }

@media all and (min-width:770px){
    .section-div-part h1{
        font-size: 70px;
     }
     .section-div-part p{
        font-size: 24px;
     }
     .intro-search-bar{
        width: 500px;
    }
     .intro-search-bar i{
        width: 125px;
     }
     .section-div-part a{
        font-size: 23px;
        font-weight: 700;
     }
}


.html-section{
    position: relative;
    top: -5px;
    background-color: #D9EEE1;
    height: 500px;
    padding: 32px 0 32px;
}
.html-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
}
.html-left h1{
    font-size: 60px;
    margin: 0;
}
.html-left p{
    font-size: 20px;
    font-weight: 550;
}
.html-left a{
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 23px;
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
}

.html-right{
    display: none;
}

/**Responsive HTML Section**/

@media screen and(min-width: 990px){
    .html-section{
        display: flex;
        justify-content: space-around;
    }
    .html-left{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .html-right{
        display: flex;
        background-color: red;
        width: 40%;
    }
}

.courses-section{
    background-color: #282A35;
    position: relative;
    top: -5px;
    padding: 65px 13px;
}

.bigbox{
    padding: 50px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-bottom: 20px;
    gap: 16px;
}
.bigbox div{
    padding: 50px 0px;
    border-radius: 5px;
}
.btn-bg-lightpink{
    background-color: #ffc0c7;
    color: #000;    
}
.btn-bg-lightyellow{
    background-color: #FFF4A3;
    color: #000;    
}
.btn-bg-grey{
    background-color: #F3ECEA;
    color: #000;    
}
.btn-bg-suphia{
    background-color: #D9EEE1;
    color: #000;   
}
.btn-bg-aqua{
    background-color: #96D4D4;
    color: #000;   
}
.btn-bg-silver{
    background-color: #E7E9EB;
    color: #000;   
}
.bigbox h2{
    font-size: 45px;
    margin: 0;
}
.bigbox p{
    font-size: 20px;
    font-weight: 550;
}
.bigbox a{
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    text-decoration: none;
    background-color: #282A35;
    color: white;
    border-radius: 25px;
    width: 200px;
    padding: 10px 30px;
}
.bigbox a:hover{
    background-color: #000;
}